@import url(./theme/Sidebar.css);
@import url(./theme/Contact.css);
@import url(./theme/PageHeader.css);
@import url(./theme/Chat.css);
@import url(./theme/Settings.css);
@import url(./theme/Auth.css);
@import url(./theme/responsive.css);

@font-face {
  font-family: 'vazir-bold';
  src: url(./Assets/fonts/Vazir-Bold.ttf) format('trueType'),
    url(./Assets/fonts/Vazir-Bold.eot) format('embedded-openType'),
    url(./Assets/fonts/Vazir-Bold.woff) format('woff');
}

@font-face {
  font-family: 'vazir';
  src: url(./Assets/fonts/Vazir.ttf) format('trueType'),
    url(./Assets/fonts/Vazir.eot) format('embedded-openType'),
    url(./Assets/fonts/Vazir.woff) format('woff');
}

@font-face {
  font-family: 'vazir-light';
  src: url(./Assets/fonts/Vazir-Light.ttf) format('trueType'),
    url(./Assets/fonts/Vazir-Light.eot) format('embedded-openType'),
    url(./Assets/fonts/Vazir-Light.woff) format('woff');
}

:root {
  --font-size: 0.8rem;
  --black-color: #1a1919;
  --gray-color: #7c7c7c;
  --purple-color: #7b97d9;
  --light-gray-color: #f0f0f0;
  --light-blue-color: #2196f3;
  --navy-blue-color: #273355;
  --tealish-blue-color: #3c415c;
  --dark-blue-color: #060930;
  --error-message-color: #f22525;
  --success-message-color: #1ba01b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'vazir';
}

.app {
  overflow: hidden;
}

body {
  direction: rtl;
}

.app.dark {
  background-color: var(--navy-blue-color);
}

a {
  text-decoration: none !important;
  color: var(--black-color);
}

ul {
  list-style: none;
  padding: 0 !important;
}

.img-responsive {
  display: block;
  width: 100%;
  object-fit: cover;
  height: auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-between-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.flex-center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-start {
  display: flex;
  align-items: start;
  justify-content: start;
}

.flex-end {
  display: end;
  align-items: end;
  justify-content: end;
}

/* scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-gray-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--purple-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--purple-color);
}

.not-found {
  position: fixed;
  top: 0;
  left: 0;
  right: 60px;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
}

.custom-nav-style {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-link {
  border: none !important;
  outline: none !important;
}

.nav {
  border: none !important;
}

.alert {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
}

.loading {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.loader {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff,
    12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0),
    -12.727926px 12.727926px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0),
    -12.727926px -12.727926px 0 0 rgba(152, 128, 255, 0);
  animation: dot-spin 1.5s infinite linear;
}

@keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff, 18px 0 0 0 #9880ff,
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.727926px -12.727926px 0 0 #9880ff,
      18px 0 0 0 #9880ff, 12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #9880ff,
      12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff,
      -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 0 #9880ff, 0 18px 0 0 #9880ff, -12.727926px 12.727926px 0 0 #9880ff,
      -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #9880ff,
      -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff,
      -12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0),
      12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.727926px 12.727926px 0 0 #9880ff, -18px 0 0 0 #9880ff,
      -12.727926px -12.727926px 0 0 #9880ff;
  }
  75% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 0 #9880ff, -12.727926px -12.727926px 0 0 #9880ff;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #9880ff, 12.727926px -12.727926px 0 0 #9880ff,
      18px 0 0 -5px rgba(152, 128, 255, 0), 12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0), -12.727926px 12.727926px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0), -12.727926px -12.727926px 0 0 #9880ff;
  }
}

.loader-sm {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dot-carousel 1.5s infinite linear;
}

@keyframes dot-carousel {
  0% {
    box-shadow: 9984px 0 0 -1px #9880ff, 9999px 0 0 1px #9880ff, 10014px 0 0 -1px #9880ff;
  }
  50% {
    box-shadow: 10014px 0 0 -1px #9880ff, 9984px 0 0 -1px #9880ff, 9999px 0 0 1px #9880ff;
  }
  100% {
    box-shadow: 9999px 0 0 1px #9880ff, 10014px 0 0 -1px #9880ff, 9984px 0 0 -1px #9880ff;
  }
}

.spinner {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-color: var(--light-blue-color);
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.chat {
  width: calc(100vw - 34vw);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-map-button {
  border: 0;
  padding: 0.5rem;
  font-size: 1.1rem;
  background: #5aff80;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

#display-none{
  top: 100vh;
  opacity: 0;
}

.show-users-list{
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 99999;
  padding: 0.5rem;
  border: 0;
  background: #00cdff;
  display: none;
}