.contact-warpper {
  width: 30vw;
  margin-right: 60px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  box-shadow: 0 0 5px 2px #0003;
}

.contact-warpper .header .page-title {
  font-size: calc(var(--font-size) + 0.9rem);
  font-family: 'vazir-bold';
}

.contact-warpper .search-bar {
  position: relative;
  width: 100%;
  margin: 1rem auto;
  height: 45px;
  /* box-shadow: 0 0 6px 1px #0003; */
  border-radius: 0.5rem;
}

.contact-warpper .search-bar img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translate(-50%, -50%);
}

.contact-warpper .search-bar input {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--light-gray-color);
  padding: 0.3rem;
  outline: none;
}

.contact-warpper .contact {
  margin-top: 2rem;
}

.contact-warpper .contact ul li {
  min-height: 80px;
}

.contact-warpper .contact ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 80px;
  width: 100%;
  padding: 1rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-warpper .contact ul li a .badge {
  position: absolute;
  font-size: calc(var(--font-size) - 0.1rem);
  left: 5px;
  top: 17px;
  color: var(--gray-color);
  font-family: 'vazir-light';
}

.contact-warpper .contact ul li a:hover .badge {
  color: var(--gray-color);
}
.contact-warpper .contact ul li a.active .badge {
  color: #fff;
}

.contact-warpper .contact ul li a:hover {
  background-color: var(--light-gray-color);
  border-radius: 0.8rem;
}
.contact-warpper .contact ul li a.active {
  background-color: var(--navy-blue-color);
  border-radius: 0.8rem;
}

.contact-warpper .contact ul li a:hover .user-chat span {
  color: var(--gray-color);
}
.contact-warpper .contact ul li a.active .user-chat span {
  color: #fff !important;
}

.contact-warpper .contact ul li a span.user-profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  /* box-shadow: 0 0 10px 2px #0004; */
  margin-left: 0.5rem;
}

.contact-warpper .contact ul li a span.user-profile img {
  border-radius: 50%;
  height: 100%;
  object-position: center;
}

.contact-warpper .contact ul li a .user-chat {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.contact-warpper .contact ul li a .user-chat span:first-child {
  font-size: calc(var(--font-size) + 0.2rem);
}

.contact-warpper .contact ul li a .user-chat span:last-child {
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--gray-color);
  margin-top: 0.5rem;
  font-family: 'vazir-light';
}

.contact-warpper .contact ul li a .user-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
}

.contact-warpper .contact ul li a .user-chat span.username {
  font-size: calc(var(--font-size) + 0.3rem);
  color: #000;
}

/* dark mode  */
.contact-warpper.dark {
  background: var(--navy-blue-color);
  box-shadow: 0 0 5px 2px #0003;
}

.contact-warpper.dark .header .search-bar input {
  background-color: var(--tealish-blue-color);
}

.contact-warpper.dark .header .page-title {
  color: var(--light-gray-color);
}

.contact-warpper.dark .contact ul li a:hover .badge {
  color: var(--gray-color);
}
.contact-warpper.dark .contact ul li a.active .badge {
  color: #fff;
}

.contact-warpper.dark .contact ul li a:hover {
  background-color: var(--dark-blue-color);
}

.contact-warpper.dark .contact ul li a.active {
  background-color: var(--dark-blue-color);
}

.contact-warpper.dark .contact ul li a .user-chat .username {
  color: var(--light-gray-color);
}

.contact-warpper.dark .contact ul li a:hover .user-chat span {
  color: #fff;
}
.contact-warpper.dark .contact ul li a.active .user-chat span {
  color: #fff !important;
}

.contact-warpper.dark .contact ul li a .user-icon img {
  filter: invert(0.5);
}

.contact-warpper.dark .contact ul li a:hover .user-icon img {
  filter: invert(1);
}
.contact-warpper.dark .contact ul li a.active .user-icon img {
  filter: invert(1);
}

.contact-warpper.dark .contact ul li a:hover .badge {
  color: #fff !important;
}
.contact-warpper.dark .contact ul li a.active .badge {
  color: #fff !important;
}
